<!--

Note: We referenced the latest stable version of Angular 1.3 in the head tag.

1) Remove ng-app from the body and place it in the html tag.
2) Change the numbers below and run the app again.
3) Remove {{ }} from the div tags

-->

<!DOCTYPE html>
<html>
<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
</head>

<body ng-app>
<h1>Angular Playground #1</h1>

<div>
21 / 3 = {{21 / 3}}
</div>
<div>
21 + 3 = {{21 + 3 }}
</div>
<div>
21 * 3 = {{21 * 3}}
</div>
<div>
21 - 3 = {{21 - 3}}
</div>

</body>
</html>
