<!--

Note 1: Angular 1.3 is added as well as a additional JavaScript tag.
Note 2: ng-app now has a name and is added to the html tag instead of the body.

1) Open script02.js and we will discuss it.
2) Notice the ng-controller name matches what we declared in script02.js.
3) Besides message.length, what else can you do? ex. message.toLocaleUpperCase()

-->

<!DOCTYPE html>
<html ng-app="app">

<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
    <script src="../scripts/script02.js"></script>
</head>
<h1>Angular Playground #2</h1>

<body>
<div ng-controller="MainController">
    {{message}}
    <div>Total Length: {{message.length}}</div>
</div>
</body>

</html>
