<!--

Note 1: Angular 1.3 is added as well as a additional JavaScript tag.
Note 2: We have now added an error message and replaced First and Last Name fields with Name, Location and the Avatar coming from Github instead of my blog.

1) Open script04.js and we will make modifications there.


-->
<!DOCTYPE html>
<html ng-app="app">

<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
    <script src="../scripts/script04.js"></script>
</head>
<h1>Angular Playground #4</h1>

<body>
<div ng-controller="MainController">
    <h1>{{message}}</h1>
    <h1>{{error}}</h1>
    <div>
        <div>Name: {{user.name}}</div>
        <div>Location: {{user.location}}</div>
        <div>
            <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
        </div>
    </div>

</div>
</body>

</html>
