<!--

Note 1: Angular 1.3 is added as well as a additional JavaScript tag.
Note 2: Now we are going to show or hide data by using ng-hide or ng-show

1) Open script07.js and lets discuss.
2) What does ng-hide="!user" mean? What if we removed the exclamation mark?

-->

<!DOCTYPE html>
<html ng-app="app">

<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
    <script src="../scripts/script07.js"></script>
</head>
<h1>Angular Playground #7</h1>

<body>
<div ng-controller="MainController">
    <h1>{{message}}</h1>

    <div>{{error}}</div>

    <form name="searchUser" ng-submit="search(username)">

        <input type="search" required placeholder="Username to find" ng-model="username" />
        <input type="submit" value="Search">

        <!--<input type="submit" value="Search" ng-click="search(username)">-->
        <!-- could use a click event -->

    </form>

    <div ng-show="user">
        <div>Name: {{user.name}}</div>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
        Order:
        <select ng-model="repoSortOrder">
            <option value="+name">Name: </option>
            <option value="-stargazers_count">Stars </option>
            <option value="+language">Languages: </option>
        </select>
    </div>


    <table ng-hide="!user">
        <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td>{{repo.name}}</td>
            <td>{{repo.stargazers_count | number}}</td>
           <!-- <td>{{repo.stargazers_count | number}}</td>
            Could add filters with | number:1-->
            <td>{{repo.language}}</td>
        </tr>
        </tbody>
    </table>

</div>
</body>

</html>
