<!--

Note 1: Angular 1.3 is added as well as a additional JavaScript tag.
Note 2: github.js has been added to help with seperation of concerns

1) Open script12.js and github.js.
2) Why did we restructure our app this way and why was it beneficial?

-->

<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
    <script src="../scripts/script12.js"></script>
    <script src="../scripts/github.js"></script>
</head>
<h1>Angular Playground #12</h1>

<body>
<div ng-controller="MainController">
    <h1>{{message}}</h1>

    <div>{{error}}</div>

    {{ countdown }}

    <form ng-submit="search(username)">

        <input type="search" required placeholder="Username to find" ng-model="username" />
        <input type="submit" value="Search">

    </form>

    <div ng-include="'../views/userdetails11.html'" ng-show="user"></div>


</div>
</body>

</html>
