<!--

Note 1: Angular 1.3 as well as the route has been added.
Note 2: We have 3 additional JS files including the MainController
Note 3: From here on out, we will walk through this together.
Note 4: This demo will not work, why not?

-->

<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
    <script src="../scripts/angular/angular-route1.3.0.js"></script>
    <script src="../scripts/script13.js"></script>
    <script src="../scripts/MainController13.js"></script>
    <script src="../scripts/github.js"></script>
</head>
<h1>Angular Playground #13</h1>

<body>
    <h1>Github Viewer</h1>
    <div ng-view></div>
</body>

</html>
