<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
    <script src="../scripts/angular/angular1.3.0.js"></script>
    <script src="../scripts/angular/angular-route1.3.0.js"></script>
    <script src="../scripts/script14.js"></script>
    <script src="../scripts/MainController14.js"></script>
    <script src="../scripts/UserController14.js"></script>
    <script src="../scripts/github.js"></script>
</head>
<h1>Angular Playground #14</h1>

<body>
    <h1>Github Viewer</h1>
    <div ng-view></div>
</body>

</html>
