<!--

Note 1: We are now giving this first div an id.

-->

<div id="userDetails">
    <div>Name: {{user.name}}</div>
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
    Order:
    <select ng-model="repoSortOrder">
        <option value="+name">Name: </option>
        <option value="-stargazers_count">Stars </option>
        <option value="+language">Languages: </option>
    </select>
</div>


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Stars</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
        <td>{{repo.name}}</td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
    </tr>
    </tbody>
</table>